@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-background text-text;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}
